{% extends '_shared/_layout' %}
{% block pageType "class" %}

{% block main %}

  <section class="class-info">
      
    {% set mainImage = entry.classImage.one()%} 
      <h3 class="class-date">{{ entry.date }} | {{ entry.time }}</h3>                         
      <h3 class="class-title">{{ entry.title }}</h3>
      
      <h3 class="class-location">{{ entry.location }}</h3>
      {% if mainImage %} 
        <img
          src="{{ entry.classImage.one().url('banner') }}"
          class="class-img"
          alt="{{ entry.title }}" 
          width="{{ mainImage.getWidth('banner') }}"
          height="{{ mainImage.getHeight('banner') }}"
        />
      {% endif %}
      <p class="class-description">
        {{ entry.classDescription }}
      </p>
    {% set instructors = entry.instructor.all() %}
      <div>
        <h3 class="instructor">About the instructor:</h3>
          {% for instructor in instructors %}   
              {{ instructor.bio }}
      </div>
      {% endfor %}

  </section>

{% endblock main %}