{% extends '_shared/_layout' %}
{% block pageType "class" %}

{% block main %}

  <section class="class-info">
      
    {% set mainImage = entry.classImage.one()%} 
      <div class="class-date">{{ entry.date }} &bull; {{ entry.time }}</div>                         
      <h2 class="class-title">{{ entry.title }}</h2>
      
      
      {% if mainImage %} 
        <img
          src="{{ entry.classImage.one().url('classMain') }}"
          class="class-img"
          alt="{{ entry.title }}" 
          width="{{ mainImage.getWidth('classMain') }}"
    
        />
      {% endif %}
      
     
        <div class="class-location">
          <h3>Class Location:   </h3> 
          <p>{{ entry.location }}</p>
          {% for address in entry.locationLink %}
            <p class="maplink"><span class="material-symbols-outlined">map</span><a href="{{ address.url }}">
              {{ address.textLink }}</a>
            </p>
          {% endfor %}
        </div>
     

      <p class="class-description">
        {{ entry.classDescription }}
      </p>
    {% set instructors = entry.instructor.all() %}
      <div class="instructor">
        <h3 class="instructor-info">Instructor Info:</h3>
          {% for instructor in instructors %}   
              {{ instructor.bio }}
      </div>
      {% endfor %}

  </section>

{% endblock main %}