{% extends '_shared/_layout' %}

{% block main %}

{% set buLogo = entry.buLogo.one() %}

  <body>
    <header class="banner">
    {% if buLogo %}
      <img
        src="{{ buLogo.getUrl()}}"
        class="logo"
        alt="Backyard University logo"
      />
    {% endif %}
    </header>

    <section class="about-text">
        {{ entry.tagline }}
    </section>


    {% set classes = craft.entries.section('classes').limit(3).all() %}
    <section class="classes">

      <h2 class="workshops">Upcoming Classes</h2>
      <div class="more-info">
        <p>
          Questions?
          <a href="mailto:backyarduniversitypdx@gmail.com"
            >Email backyarduniversitypdx@gmail.com</a
          >
        </p>
      </div>

      <div>
      {% for class in classes %}
        {% set classImage = class.images.one() %}
          <h3 class="date">{{ class.dateTime }}</h3>
          
          <a href="{{ class.url }}">  
            <h3>{{ class.title }}</h3>
            {% if classImage %} 
              <img
                src="{{ class.images.one().url() }}"
                class="workshop-img"
                alt="{{ class.title }}" 
              />
            {% endif %}
          </a>
            
          <h3>
              {{ class.shortDescription }}
          </h3>
      {% endfor %}
      </div>
    </section>

{% endblock %}

    

    