{% set entries = craft.entries 
    .section(section)
    .limit(limit)
    .all()
%}
     


        <div class="class-info">
        {% for entry in entries %}
        
          <div class="class-date">{{ entry.date}} &bull; {{ entry.time }}</div> 
      
          {% set mainImage = entry.classImage.one() %}         
            
            <a href="{{ entry.url }}" class="class-link">  
              <h2 class="class-title">{{ entry.title }}</h2>
              
              {% if mainImage %} 
                <div>
                  <img
                  src="{{ entry.classImage.one().url('banner') }}"
                  class="class-img"
                  alt="{{ entry.title }}"
                  />
                </div>
              {% endif %}

            </a>
       
            <p class="class-short-description">
                {{ entry.shortDescription }}
            </p>
        {% endfor %}
      </div>
    